/* @import './fonts.css'; */
@import './tailwind.css';
/* @import './theme.css'; */

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(15 23 42);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(139 92 246), rgb(236 72 153));
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgb(168 85 247), rgb(244 114 182));
}

/* Slick carousel custom styles */
.slick-dots li button:before {
    color: rgb(156 163 175) !important;
    font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
    color: rgb(168 85 247) !important;
}